* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #242526;
  color: #f4f4f4;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

a:hover {
  color: #242526;
}

hr {
  width: 80%;
  text-align: center;
}

/* Hero section */
.hero-section {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.intro {
  width: 100%;
  text-align: left;
  padding-left: 10%;
}

/* Buttons */
.MuiButton-root {
  border-radius: 3rem !important;
  padding: 0.5rem 2rem !important;
  margin: 0 1rem !important;
  font-weight: 600 !important;
}

.MuiButton-root.more-btn {
  font-size: 17px !important;
  padding: 0.75rem 2rem !important;
}

.MuiButton-root.more-btn:hover,
.MuiButton-root.menu-btn:hover {
  background-color: #f4f4f4 !important;
  color: #242526;
}

/*  Arrow animation */
.arrow-down {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.arrow-down {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Price tiers */
.price-container {
  background-color: #242526;
  padding: 2rem 0;
}

.price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 2rem;
  position: relative;
  height: 100%;
}

/* Price cards */
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card-1,
.card-3 {
  margin-top: 50px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 300px;
  background-color: #f4f4f4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#premium-card,
.popular {
  background-color: #c1440e;
  color: #f4f4f4;
}

#premium-btn {
  color: #f4f4f4;
  border: 0.75px solid #f4f4f4;
}

.card h5,
.card h4,
.card p,
.card hr,
.card button {
  margin-top: 10px !important;
}

/* Mission/About */
.about-section,
.mission-section {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #242526;
  color: #f4f4f4;
}

.about-text {
  width: 100%;
  text-align: left;
  padding-left: 10%;
}

#canvas {
  height: 100%;
}

.mission-text {
  width: 100%;
  text-align: left;
  padding-right: 10%;
}

/* Footer */
footer {
  background-color: #242526;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
}

.copy {
  font-weight: 600;
}

.year {
  margin-left: 6px;
}

.socials {
  margin-top: 1.5rem;
}

.socials ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials ul li {
  cursor: pointer;
  font-weight: 600;
}

.socials ul li:hover {
  color: #a7a7a7;
}

/* Scroll up button */
#goTop {
  background-color: rgba(0, 0, 0, 0);
  color: #c1440e;
  position: fixed;
  opacity: 0%;
  transition: opacity 0.75s;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .intro {
    padding: 0;
    text-align: center;
    width: auto;
  }

  .price-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card-1,
  .card-3 {
    margin-top: auto;
  }

  .about-left {
    order: 2;
  }

  .about-right {
    order: 1;
  }

  .about-text,
  .mission-text {
    text-align: center;
    padding: 0 10px;
  }
}
